{% extends "base.html" %}
{% block content %}
<h1>Welcome to the staff company management</h1>

<form action="/edit/intership" method="post">
	First name: <br/>
	<input type="text" placeholder="First name" name="name" value="{{ name }}"><br/>
	Last name: <br/>
	<input type="text" placeholder="Last name" name="surname" value="{{ surname }}"><br/><!--value="{{ request.form.password }}"-->
	Sending university: <br/>
	<input type="text" placeholder="University" name="university" value="{{ university }}"> <br/>
	Birth date: <br/>
	<input type="date" placeholder="Birth date" name="birthday" value="{{ birthday }}"><br/>
	E-mail:  <br/>
	<input type="email" placeholder="E-mail" name="email" value="{{ email }}"><br/>
	Department: <br/>
	<input type="text" placeholder="Department" name="department" value="{{ department }}"><br/><br/>
	<input type="hidden" name="table" value="{{ table }}">
	<input type="hidden" name="id" value="{{ id }}">
	<input class="btn btn-default" type="submit" value="Update intership">
	<a href="/display/intership" class="btn btn-default">Back</a>
</form>
{% endblock %}